---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import VideoCard from "../components/services/VideoCard.astro";
import { Icon } from "astro-icon/components";

const headers = [
  {
    title: "Servicios",
    src: "bg-[url(/images/bg-service.webp)]",
  },
];

const videos = [
  {
    id: 1,
    videoUrl: "/videos/recepcion.mp4",
    category: "Recepción de mercadería",
    description: "Procedente de aduanas y laboratorios farmaceuticos.",
    details: [],
  },
  {
    id: 2,
    videoUrl: "/videos/almacenaje.mp4",
    category: "Almacenaje",
    description: "Nuestro almacén cuenta con áreas con diferentes tempraturas.",
    details: [
      "Áreas con temperatura ambiente controlada: 15°C - 25°C.",
      "Temperatura ambiente: 15°C - 30°C.",
      "Temperatura refrigerada: 2°C - 8°C.",
      "Espacios enrejados para productos controlados y/o fiscalizados.",
      "Monitoreo y control de temperatura.",
    ],
  },
  {
    id: 3,
    videoUrl: "/videos/calidad.mp4",
    category: "Servicios de área de calidad",
    description: "",
    details: [
      "Muestreo, revisión y reporte del estado de la mercadría que ingresa al almacén en estado de cuarentena (revisión organoléptica).",
      "Revisión de devoluciones y reporte del estado de la mercadería.",
      "Control y registro de la mercadería en el área de bajas.",
      "Separación de productos para el área de contra muestras e inventario.",
      "Programación y descarga de la data de los registradores de temperatura y envió de la información.",
      "Asesoría en BPA y BPDT.",
    ],
  },
  {
    id: 4,
    videoUrl: "/videos/seguridad.mp4",
    category: "Seguridad",
    description: "",
    details: [
      "Selección cuidadosa de nuestro personal.",
      "Persona responsable que monitorea el perfecto funcionamiento de la seguridad.",
      "Videovigilancia en todos los sectores de la empresa, operativa las 24horas del día.",
      "Sistema de alarmas electrónicas conectadas a los dispositivos móviles de los principales ejecutivos, para una respuesta inmediata ante cualquier eventualidad.",
    ],
  },
  {
    id: 5,
    videoUrl: "/videos/transporte.mp4",
    category: "Transporte",
    description:
      "Cubrimos Lima Metropolitana y nuestros vehículos cuentan con monitoreo GPS en tiempo real.",
    details: [],
  },
];
---

<Layout title="Servicios">
  <Header headers={headers} />
  <main class="py-40 px-4 bg-[#FAFCFD]">
    <section class="container mx-auto">
      <div class="mb-20 mx-auto max-w-5xl">
        <h1
          class="text-3xl md:text-5xl mb-4 text-primary font-bold text-center"
        >
          Nuestros servicios
        </h1>
        <p class="text-lg md:text-2xl text-paragraph text-center">
          Ofrecemos soluciones innovadoras en distribución y almacenaje de
          medicamentos. Nuestro enfoque está en garantizar la calidad, seguridad
          y eficiencia en cada proceso.
        </p>
      </div>
      <div class="space-y-20">
        {
          videos.map((video) => (
            <div class="video-container grid grid-cols-1 md:grid-cols-2  bg-[#F1F5F9]   rounded-3xl">
              <div class=" pr-4 md:pr-20 p-8 md:p-10 space-y-4 flex flex-col justify-center">
                <h2 class=" text-primary font-semibold text-2xl md:text-3xl">
                  {video.category}
                </h2>
                <p class=" text-lg md:text-2xl text-paragraph">
                  {video.description}
                </p>
                <ul>
                  {video.details.map((detail) => (
                    <li class=" text-paragraph text-lg flex items-start space-x-2">
                      <span class="block w-5 h-5">
                        <Icon name="check" class="text-subtitle w-5 h-5" />
                      </span>
                      <span class="block ">{detail}</span>
                    </li>
                  ))}
                </ul>
              </div>
              <div class="">
                <VideoCard videoUrl={video.videoUrl} />
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
<script>
  import { gsap } from "gsap";

  gsap.registerPlugin(ScrollTrigger);
  ScrollTrigger.normalizeScroll(true);

  // Animate main title
  gsap.fromTo(
    "#main-title",
    { opacity: 0, y: -50 },
    { opacity: 1, y: 0, duration: 1, ease: "power3.out" }
  );
</script>
