---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import VideoCard from "../components/services/VideoCard.astro";
import { Icon } from "astro-icon/components";


const headers = [
  {
    title: "Servicios",
    src: "bg-[url(/images/bg-service.webp)]",
  },
];

const videos = [
  {
    id: 1,
    videoUrl: "/videos/recepcion.mp4",
    category: "Recepción de mercadería",
    description: "Procedente de aduanas y laboratorios farmaceuticos.",
    details: [
      
    ]
  },
  {
    id: 2,
    videoUrl: "/videos/almacenaje.mp4",
    category: "Almacenaje",
    description: "Nuestro almacén cuenta con áreas con diferentes tempraturas.",
    details: [
      "Áreas con temperatura ambiente entre los 15°C y los 25°C.",
      "Cámaras de frío con temperaturas que fluctúan entre los 02 y los 08°C.",
      "Espacios enrejados para productos controlados y/o fiscalizados.",
      "Monitoreo y control de temperatura."
    ]
  },
  {
    id: 3,
    videoUrl: "/videos/calidad.mp4",
    category: "Servicios de área de calidad",
    description: "",
    details: [
      "Muestreo, revisión y reporte del estado de la mercadría que ingresa al almacén en estado de cuarentena (revisión organoléptica).",
      "Revisión de devoluciones y reporte del estado de la mercadería.",
      "Control y registro de la mercadería en el área de bajas",
      "Separación de productos para el área de contra muestras e inventario.",
      "Programación y descarga de la data de los registradores de temperatura y envió de la información.",
      "Asesoría en BPA y BPDT."
    ]
  },
  {
    id: 4,
    videoUrl: "/videos/seguridad.mp4",
    category: "Seguridad",
    description: "Seguridad",
    details: [
      "Selección cuidadosa de nuestro personal.",
      "Persona responsable que monitorea el perfecto funcionamiento de la seguridad.",
      "Videovigilancia en todos los sectores de la empresa, operativa las 24horas del día.",
      "Sistema de alarmas electrónicas conectadas a los dispositivos móviles de los principales ejecutivos, para una respuesta inmediata ante cualquier eventualidad"
    ]
  },
  {
    id: 5,
    videoUrl: "/videos/transporte.mp4",
    category: "Transporte",
    description: "Cubrimos Lima Metropolitana y nuestros vehículos cuetan con monitoreo GPS en tiempo real.",
    details: []
  },
];


---

<Layout title="Servicios">
  <Header headers={headers} />
  <main  class="  py-24 px-4">
    <section class="container mx-auto bg-[##FAFCFD]">
      <div >
        <h1 class="text-3xl lg:text-6xl font-bold text-center text-primary mb-8">
          Nuestros servicios
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 space-y-10 md:space-y-24 ">   
          {
            videos.map((video) => (
            <div class="  video-container flex flex-col justify-center space-y-3 mr-0 md:mr-20 lg:mr-32 ">
              <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold text-primary">{video.category}</h2>
              <p class="text-xl md:text-2xl text-paragraph">{video.description}</p>
              <ul>
                {
                  video.details.map(detail =>(
                    <li class=" text-lg flex  items-start">
                      <span class="block w-5 h-5 mr-4">
                      <Icon name="arrow-next" class="w-5 h-5"/> </span>
                      <span class="block text-paragraph">{detail}</span>
                      </li>
                  ))
                }
              </ul>
            </div>
              <VideoCard
                videoUrl={video.videoUrl}               
              />
            ))
          }
        </div>
      </div>
    </section>    
  </main>
</Layout>
<script>
  import { gsap } from "gsap";

  gsap.registerPlugin(ScrollTrigger);
  ScrollTrigger.normalizeScroll(true)



  // Animate main title
  gsap.fromTo(
    "#main-title",
    { opacity: 0, y: -50 },
    { opacity: 1, y: 0, duration: 1, ease: "power3.out" }
  );
</script>
<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
