---
import { Icon } from "astro-icon/components";

const accordionItems = [
  {
    id: "experience",
    title: "Experiencia",
    content:
      "Con más de siete años de experiencia en el sector farmacéutico, hemos inaugurado una nueva línea de negocios: un moderno almacén que ofrece servicios de almacenamiento y transporte de productos farmacéuticos. En Argón, nos comprometemos plenamente con la satisfacción de nuestros clientes, esforzándonos por brindar un servicio de calidad que no solo cumpla, sino que supere sus expectativas.",
  },
  {
    id: "custom-services",
    title: "Servicios Personalizados",
    content:
      "En Argón Pharma, entendemos que cada cliente es único. Nuestro equipo de profesionales se especializa en diseñar soluciones personalizadas de almacenamiento y transporte, adaptándonos a los requerimientos específicos de cada negocio.",
  },
  {
    id: "sistemas",
    title: "Sistemas",
    content:
      "Contamos con el sistema SAP OB, una herramienta de clase mundial, que nos permite optimizar todas nuestras operaciones logísticas, garantizando trazabilidad, eficiencia y control en tiempo real de cada proceso. Contamos con estructuras metálicas, sismo resistente y equipos de transporte europeos",
  },
  {
    id: "certifications",
    title: "Certificaciones",
    content: "Contamos con las certificaciones BPA y BPDT.",
  },
];
---

<section class="py-40 bg-[#04ADEF]/80 px-4 md:px-0">
  <div
    class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20"
    data-gsap="why"
  >
    <div>
      <div class="mb-12">
        <p class="font-semibold text-lg md:text-2xl mb-4 text-white">
          ¿Por qué elegirnos?
        </p>
        <h2
          class="uppercase text-2xl md:text-3xl lg:text-5xl font-bold text-white"
        >
          Descubra por qué muchos clientes nos prefieren
        </h2>
      </div>
      <div class="">
        <div class="space-y-4" id="accordion-container ">
          <div class="divide-y-[1px] divide-slate-200 border-b border-t">
            {
              accordionItems.map((item) => (
                <div class="accordion-item pb-4 pt-4  overflow-hidden">
                  <button
                    class="accordion-header w-full py-4 text-left   transition-colors duration-200 flex justify-between items-center"
                    data-accordion-id={item.id}
                  >
                    <span class="text-xl text-justify font-semibold text-white">
                      {item.title}
                    </span>
                    <Icon name="chevron-up" class="w-6 h-6 text-white" />
                  </button>
                  <div
                    class="accordion-content  px-2 overflow-hidden transition-all duration-300 max-h-0 opacity-0"
                    data-accordion-id={item.id}
                  >
                    <p class="text-white text-justify text-lg md:text-xl leading-relaxed py-4">
                      {item.content}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <div>
      <img
        src="/images/whyus.jpg"
        alt="¿Por qué elegirnos?"
        class="rounded-xl w-full h-[680px] object-cover"
      />
    </div>
  </div>
</section>
<script>
  function setupAccordion() {
    const accordionHeaders = document.querySelectorAll(".accordion-header");

    accordionHeaders.forEach((header) => {
      header.addEventListener("click", () => {
        const currentId = header.getAttribute("data-accordion-id");
        const currentContent = document.querySelector<HTMLDivElement>(
          `.accordion-content[data-accordion-id="${currentId}"]`
        );
        const currentArrow = header.querySelector("svg");

        // Close all other accordions
        document
          .querySelectorAll<HTMLDivElement>(".accordion-content")
          .forEach((content) => {
            if (content.getAttribute("data-accordion-id") !== currentId) {
              content.style.maxHeight = "0";
              content.style.opacity = "0";
              //content.style.padding = "0 1.5rem";
              const arrow =
                content.parentElement?.querySelector<SVGElement>("svg");
              if (arrow) arrow.style.transform = "rotate(0deg)";
            }
          });

        // Toggle current accordion
        if (currentContent) {
          if (
            currentContent.style.maxHeight === "0px" ||
            !currentContent.style.maxHeight
          ) {
            currentContent.style.maxHeight = currentContent.scrollHeight + "px";
            currentContent.style.opacity = "1";
            //currentContent.style.padding = "1rem 1.5rem";
            if (currentArrow) currentArrow.style.transform = "rotate(180deg)";
          } else {
            currentContent.style.maxHeight = "0";
            currentContent.style.opacity = "0";
            //currentContent.style.padding = "0 1.5rem";
            if (currentArrow) currentArrow.style.transform = "rotate(0deg)";
          }
        }
      });
    });
  }

  // Setup accordion on page load
  setupAccordion();

  // Setup accordion when content updates (for Astro view transitions)
  document.addEventListener("astro:page-load", setupAccordion);
</script>
