---
import Seo from "../components/Seo.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Cta from "../components/Cta.astro";
import Whatsapp from "../components/Whatsapp.astro";

const { title, description, image, frontmatter, robots } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Riot&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Argon Pharma | {title}</title>
  </head>
  <body class="font-rubik">
    <Navbar />
    <slot />
    <Whatsapp />
    <Cta />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  ,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
